.u-section-1 {
  background-image: url("images/9acc90bcf942beeb7e7d4d866b3616f78986f6c14816dadfb0535a64d282277038dcac468387cad7e3ab7e809776f1fd40820899258f5426103612_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1068px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 550px;
  margin: 190px auto 0;
}

.u-section-1 .u-form-1 {
  height: 510px;
  width: 570px;
  margin: 65px auto 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(#db545a, #478ac9);
  border-style: none;
  animation-duration: 3000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -45px auto 60px 285px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 881px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 195px;
    margin-right: 195px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 175px;
    margin-right: 195px;
    height: 313px;
  }

  .u-section-1 .u-btn-1 {
    letter-spacing: normal;
    font-weight: normal;
    text-transform: none;
    width: 100%;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 85px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 85px;
    margin-right: 85px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 65px;
    margin-right: 85px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}